/* ±±±±±±±±±±±±±±±±±±±±±±±±±± */
/* ±±±±±±±±± NAVBAR ±±±±±±±±± */
/* ±±±±±±±±±±±±±±±±±±±±±±±±±± */
nav.topNavBar {
    display: flex;
    width: 100vw;
    min-height: 8vh;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffffba;
    font-size: 120%;
    z-index: 100;
    position: fixed;
    font-weight: bold;
}
p.nameWebsite {
    margin-left: 5%;
    transition: all 0.3s ease;
}
p.nameWebsite:hover {
    color: var(--blue);
    cursor: pointer;
}
ul.listNavItems {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    width: 30%;
    margin-right: 5%;
}
li.navItem {
    cursor: pointer;
    padding: 3%;
    background: linear-gradient(120deg, var(--blue) 0%, var(--blue) 100%);
    background-repeat: no-repeat;
    background-size: 0% 10%;
    background-position: 50% 80%;
    /* background-position: 0% 80%; */
    transition: all 0.4s ease;
}
li.navItem:hover {
    background: linear-gradient(120deg, var(--blue) 0%, var(--blue) 100%);
    background-repeat: no-repeat;
    background-size: 100% 10%;
    background-position: 50% 80%;
    /* background-position: 0% 80%; */
    
}

/* ±±±±±±±±±±±±±±±±±±±±±±±±±± */
/* ±±±±±±±±± HEADER ±±±±±±±±± */
/* ±±±±±±±±±±±±±±±±±±±±±±±±±± */
header {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url("../res/hero2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--primary);
}
h1.heroTitle {
    font-size: 300%;
}
span.highlight {
    color: var(--tertiary);
}
button.cta {
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: transparent;
    color: var(--primary);
    padding: 0.7% 2%;
    font-weight: bold;
    justify-content: center;
    border-radius: 2px;
    margin: 2.5% auto 0;
    font-size: 120%;
    cursor: pointer;
    border: 1px solid var(--tertiary);
    transition: all 0.3s ease;
}
button.cta:hover {
    background-color: var(--tertiary);
    color: var(--secondary);
}

/* ±±±±±±±±±±±±±±±±±±±±±±±±±± */
/* ±±±±±±±±±± MAIN ±±±±±±±±±± */
/* ±±±±±±±±±±±±±±±±±±±±±±±±±± */

/* ±±±±±±±±±±±±±±±±±±±±±±±±±± */
/* ±±±±±±±±± DETAIL ±±±±±±±±± */
/* ±±±±±±±±±±±±±±±±±±±±±±±±±± */
div#details {
    width: 90vw;
    display: flex;
    flex-direction: column;
    margin: -5% auto 0;
}
div.row.reverse {
    display: flex;
    flex-direction: row-reverse;
    transform: translateX(100%);
}
div.row {
    display: flex;
    width: 90vw;
    margin-bottom: 5%;
    transform: translateX(-100%);
    transition: all 0.8s ease;
}
div.row.visible {
    transform: translateX(0);
}
div.detail {
    background-color: var(--primary);
    padding: 2%;
    width: 45vw;
    display: flex;
    align-items: center;
    border-radius: 3px;
    box-shadow: 5px 5px 10px 1px var(--shadow);
    justify-content: center;
    z-index: 10;
    transition: all 0.3s ease;
}
div.detail:hover {
    transform: translateY(-2%) translateX(-2%);
    box-shadow: 10px 10px 10px 1px var(--shadow);
}
div.detail div.left {
    width: fit-content;
}
div.detail div.left img {
    width: 90%;
    height: auto;
    cursor: pointer;
}
div.detail div.right {
    width: 130%;
}
div.detail div.right h3.titleDetail {
    margin-bottom: 2%;
}

/* ±±±±±±±±±±±±±±±±±±±±±±±±±± */
/* ±±±±±±±±± CONTACT ±±±±±±±± */
/* ±±±±±±±±±±±±±±±±±±±±±±±±±± */
div#reservationandcontact {
    width: 85vw;
    display: flex;
    margin: 0 auto 5%;
    border-radius: 2px;
    justify-content: space-between;
    z-index: 10;
}
div#reservationandcontact fieldset {
    width: 38vw;
    display: flex;
    padding: 2%;
    border: 1.5px solid var(--color);
    border-radius: 2px;
    height: 47vh;
}
fieldset legend {
    padding: 0 1%;
    font-size: 130%;
}
fieldset form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
}
fieldset.contact .contact {
    border: 1px solid var(--color);
    border-radius: 2px;
    outline: none;
    background: transparent;
    padding: 1%;
    font-size: 90%;
    transition: all 0.3s ease;
}
fieldset.contact .contact:focus {
    border: 1px solid var(--blue);
}
fieldset.contact form div.top, div.bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
fieldset.contact input.contact.name, input.contact.email, input.contact.numero{
    width: 45%;
    margin-bottom: 3%;
}
fieldset.contact textarea.contact {
    width: 96%;
    resize: none;
    height: 60%;
    font-family: "Montserrat", sans-serif;
}
button.ctaContact {
    display: flex;
    align-items: center;
    background-color: var(--color);
    color: var(--primary);
    justify-content: center;
    border-radius: 3px;
    margin: 2% auto;
    border: 1px solid var(--color);
    padding: 1% 2%;
    font-size: 100%;
    cursor: pointer;
    transition: all 0.2s ease;
}
button.ctaContact:hover {
    transform: scale(1.02);
}

/* ±±±±±±±±±±±±±±±±±±±±±±±±±± */
/* ±±±±±±±± RESERVER ±±±±±±±± */
/* ±±±±±±±±±±±±±±±±±±±±±±±±±± */
fieldset.reservation {
    display: flex;
}
fieldset.reservation form {
    justify-content: flex-start;
}
fieldset.reservation .reservation {
    border: 1px solid var(--color);
    border-radius: 2px;
    outline: none;
    background: transparent;
    padding: 1%;
    font-size: 90%;
    transition: all 0.3s ease;
}
fieldset.reservation .reservation:focus {
    border: 1px solid var(--blue);
}
fieldset.reservation div.headInfos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto 2%;
}
fieldset.reservation div.headInfos input {
    width: 40%;
    margin-bottom: 2%;
}
input.reservation.date {
    font-family: "Montserrat", sans-serif;
    padding: 0.5% 2%;
    outline: none;
    border: 1px solid var(--color);
    background: transparent;
}
fieldset.reservation form div.date {
    display: flex;
    font-weight: bold;
    width: 100%;
    display: flex;
    justify-content: space-around;
    
}
fieldset.reservation form div.date div.selectDate {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    flex-direction: column;
    width: 40%;
}
button.ctaReservation {
    display: flex;
    align-items: center;
    background-color: var(--color);
    color: var(--primary);
    justify-content: center;
    border-radius: 3px;
    margin: 4% auto;
    border: 1px solid var(--color);
    padding: 1% 2%;
    font-size: 100%;
    cursor: pointer;
    transition: all 0.2s ease;
}
button.ctaReservation:hover {
    transform: scale(1.02);
}

/* ±±±±±±±±±±±±±±±±±±±±±±±±±± */
/* ±±±±±±±±±± ANIM ±±±±±±±±±± */
/* ±±±±±±±±±±±±±±±±±±±±±±±±±± */
div.wrapperImg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1000;
    background-color: var(--color)
}
div.wrapperImg div.cross {
    position: absolute;
    top: 4%;
    left: 4%;
    width: 45px;
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}
div.wrapperImg div.cross div.bar {
    width: 60px;
    height: 1px;
    background-color: var(--primary);
    transform-origin: 0% 50%;
}
div.wrapperImg div.cross div.bar:nth-child(1) {
    transform: rotate(45deg);
}
div.wrapperImg div.cross div.bar:nth-child(2) {
    transform: rotate(-45deg);
}
div.wrapperImg.visible {
    top: 0;
}
div.wrapperImg img {
    width: 70vw;
}
div.blueCircle {
    z-index: -100;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--round);
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
}
div.blueCircle div.whiteCircle {
    background-color: var(--primary);
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 50%;
}
div.bc1 {
    transform: translateY(30%) translateX(-50%);
}
div.bc2 {
    transform: translateY(145%) translateX(250%);
}
div.bc3 {
    transform: translateY(260%) translateX(-50%);
}